# Meet
/suite/meet/ @BreadGenie
/frontend/src/apps/meet/ @BreadGenie

# Slides
/suite/slides/ @GursheenK
/frontend/src/apps/slides/ @GursheenK

# Drive
/suite/drive/ @BreadGenie @s-aga-r
/frontend/src/apps/drive/ @BreadGenie

# Mail
/suite/mail/ @krantheman @s-aga-r
/frontend/src/apps/mail/ @krantheman

# Sheets
/suite/sheets/ @AsifMulani1
/frontend/src/apps/sheets/ @AsifMulani1

# Writer
/suite/writer/ @netchampfaris
/frontend/src/apps/writer/ @netchampfaris

# Calendar
/suite/calendar/ @krantheman @s-aga-r
/frontend/src/apps/calendar/ @krantheman
