# Meet
/suite/meet/ @BreadGenie
/frontend/src/apps/meet/ @BreadGenie

# Slides
/suite/slides/ @GursheenK
/frontend/src/apps/slides/ @GursheenK

# Drive
/suite/drive/ @safwansamsudeen
/frontend/src/apps/drive/ @safwansamsudeen

# Mail
/suite/client/ @krantheman @s-aga-r
/suite/mail/ @krantheman @s-aga-r
/frontend/src/apps/mail/ @krantheman @s-aga-r

# Sheets
/suite/sheets/ @AsifMulan1
/frontend/src/apps/sheets/ @AsifMulan1

# Writer
/suite/writer/ @safwansamsudeen
/frontend/src/apps/writer/ @safwansamsudeen

# Calendar
/suite/calendar/ @krantheman
/frontend/src/apps/calendar/ @krantheman
