*
!package.json
!yarn.lock
!frontend/
frontend/*
!frontend/package.json
!frontend/yarn.lock
!frontend/recorder.html
!frontend/postcss.config.js
!frontend/tailwind.config.js
!frontend/vite.recorder.config.ts
!frontend/tsconfig*.json
!frontend/recorder/
!frontend/recorder/**
!frontend/src/
!frontend/src/apps/
!frontend/src/apps/meet/
!frontend/src/apps/meet/**
!suite/
suite/*
!suite/meet/
suite/meet/*
!suite/meet/recorder-server/
!suite/meet/recorder-server/package.json
!suite/meet/recorder-server/yarn.lock
!suite/meet/recorder-server/tsconfig.json
!suite/meet/recorder-server/src/
!suite/meet/recorder-server/src/**
