@import url("./fonts.css");
@import url("./comment.css");
@import url("./print.css");
@import "frappe-ui/src/components/TextEditor/extensions/color/color-styles.css";
@import "frappe-ui/src/components/TextEditor/extensions/highlight/highlight-styles.css";

.prose-sm {
  caret-color: theme("colors.blue.600");
}

.prose strong,b {
  color: inherit !important;
}

.collaboration-cursor__caret {
  border-left: 0px solid currentColor;
  border-right: 2px solid currentColor;
  margin-left: 0px;
  margin-right: -2px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 60px;
  border: 2px solid #0000001a;
  color: #ffffffdf;
  position: absolute;
  top: -1.5em;
  left: 0.25em;
  user-select: none;
  white-space: nowrap;
}
