.resizer-width {
	position: absolute;
	z-index: 100;
	background-color: #70b6f0;
	width: 4px;
	height: 14px;
	cursor: ew-resize;
	border-radius: 10px;
}

.resizer-right {
	right: -3px;
	top: calc(50% - 7px);
}

.resizer-left {
	left: -3px;
	top: calc(50% - 7px);
}

.resizer-both {
	position: absolute;
	z-index: 100;
	background-color: #70b6f0;
	width: 7px;
	height: 7px;
	border-radius: 10px;
}

.resizer-top-left {
	top: -8.5px;
	left: -8.5px;
	cursor: nwse-resize;
}

.resizer-top-right {
	top: -8.5px;
	right: -8.5px;
	cursor: nesw-resize;
}

.resizer-bottom-left {
	bottom: -8.5px;
	left: -8.5px;
	cursor: nesw-resize;
}

.resizer-bottom-right {
	bottom: -8.5px;
	right: -8.5px;
	cursor: nwse-resize;
}
